@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.poppins {
  font-family: 'Poppins';
}

.ubuntu {
  font-family: 'Ubuntu';
}

.pink-green-gradient {
  background: rgb(85, 182, 194);
  background: linear-gradient(180deg, rgba(85, 182, 194, 1) 0%, rgba(199, 120, 221, 1) 100%);
}

.pink-gradient {
  background: rgb(199, 120, 221);
  background: linear-gradient(180deg, rgba(199, 120, 221, 1) 0%, rgba(40, 44, 51, 1) 100%);
  border: none;
}

.glowing-circle {
  background-color: #ffffff;
  -webkit-animation: glowing 1s ease-in-out infinite alternate;
  -moz-animation: glowing 1s ease-in-out infinite alternate;
  animation: glowing 1s ease-in-out infinite alternate;
}

@keyframes glowing {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #f0f, 0 0 40px #0ff, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    box-shadow: 0 0 10px 5px #fff, 0 0 40px 5px #ff4da6, 0 0 40px 5px #ff4da6, 0 0 50px 5px #ff4da6;
  }
}

body {
  box-sizing: border-box;
  margin: 0px;
  background-color: #282C33;
}

::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

::-webkit-scrollbar-track {
  background-color: hsla(0, 0%, 100%, .1);
}

::-webkit-scrollbar-thumb {
  background-color: #6C757D;
  border-radius: 20px;
}

.canvas-loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}

.image_tags{
  opacity: 0;
  top:0;
  position: absolute;
}

.img-container:hover .image_tags{
  opacity: 1;
}
.img-container:hover .project_image{
  opacity: 0.2;
}

